<div class="container">

  <div class="starter-template">
    <h1>Easy Waiting</h1>
    <p class="lead">A better restaurant wait list</p>
    <p><a href= "/#/register" type = "button" class="btn btn-primary btn-lg" >Try it Out!</a></p>
    <div class="row">
<!-- 	  <div class="col-md-4">
	  	<h3>Waitlists managed from Any Device</h3>
	  </div>
	  <div class="col-md-4">
	  	<h3>No More Yelling for Customers</h3>
	  </div>
	  <div class="col-md-4">
	  	<h3>Customers are not Restrained</h3>
	  </div> -->
	</div>
  </div>

</div><!-- /.container -->